<div class="head desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/report_grey.png"> Achievement</a></li>
        <li><p class="nopad accord size-std" href="#danamon"><img src="<%= baseurl() %>images/icon/file_grey.png"> Danamon</p>
            <ul class="submenu size-std" id="danamon">
                <li><a href="<%= baseurl() %>kepo/autocilin">Autocilin</a></li>
                <li><a href="<%= baseurl() %>kepo/property">Property</a></li>
            </ul>
        </li>
        <li><p class="nopad accord size-std" href="#admf"><img src="<%= baseurl() %>images/icon/file_grey.png"> ADMF</p>
            <ul class="submenu size-std" id="admf">
                <li><a href="<%= baseurl() %>kepo/core">Core Product</a></li>
                <li><a href="<%= baseurl() %>kepo/noncore">Non Core Product</a></li>
                <li><a href="<%= baseurl() %>kepo/renewal">Renewal</a></li>
            </ul>
        </li>
        <li><a href="<%= baseurl() %>logout" class="size-std"><img src="<%= baseurl() %>images/icon/logout_grey.png">Logout</a></li>
    </ul>
</div>