<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard - Grace <%= login[0].pid %></title>
    <link
      rel="icon"
      href="https://kadence.com/wp-content/uploads/2020/07/260x260.png"
      type="image/x-icon"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="<%= baseurl() %>plugin/flexmonster/theme/green/flexmonster.css"></script>
    <%- include ('./partials/header') %>
  </head>
  <style>
    .overview {
      padding: 10px 30px;
      background-color: #ffffff;
      border-radius: 8px;
    }
  </style>
  <body>
    <div class="wrapper">
      <div class="lSide"><%- include ('./partials/sidebar') %></div>
      <div class="rSide">
        <div class="head desk"><%- include ('./partials/topdesk') %></div>
        <div class="mainbox size-std column">
          <div class="breadcrumbs size-std">DASHBOARD</div>
          <div class="overview full-length column shadow half">
			  <%
			 	for(let i=0; i<dataTotal.length; i++){ 
			  %>
            <div
              class="cols-4"
              style="
                color: <%= dataTotal[i].color %>;
                border-right: 1px solid #f5f5f5;
                padding: 5px 2%;
              "
            >
              <p class="size-head3 nopad">
                <%= dataTotal[i].label %> <b style="float: right"><%= dataTotal[i].total %>(<%= dataTotal[i].y %><sup>%</sup>)</b>
              </p>
              <div class="progressbar">
                <div
                  class="progressresult"
                  style="width: <%= dataTotal[i].y %>%; background-color: <%= dataTotal[i].color %>"
                ></div>
                <div
                  class="progressdot"
                  style="left: <%= dataTotal[i].y-1 %>%; background-color: <%= dataTotal[i].color %>"
                ></div>
              </div>
            </div>
			<% } %>
          </div>
          <div class="cols-12 containt" style="margin: 20px 0">
            <div class="headtitle trans" style="margin-bottom: 0">
              <p class="size-head3 nopad">Achievement</p>
            </div>
            <div style="width: 100%">
              <div class="chartbox">
                <div
                  id="chartAchievement"
                  style="
                    height: 400px;
                    max-width: 100%;
                    width: 100%;
                    margin: 0px auto;
                  "
                ></div>
              </div>
            </div>
          </div>

		  <div class="overview full-length column shadow half">
			  <%
			 	for(let i=0; i<breakDanamon.length; i++){ 
			  %>
            <div
              class="cols-6"
              style="
                color: <%= breakDanamon[i].color %>;
                border-right: 1px solid #f5f5f5;
                padding: 5px 2%;
              "
            >
              <p class="size-head3 nopad">
                <%= breakDanamon[i].label %> <b style="float: right"><%= breakDanamon[i].total %>(<%= breakDanamon[i].y %><sup>%</sup>)</b>
              </p>
              <div class="progressbar">
                <div
                  class="progressresult"
                  style="width: <%= breakDanamon[i].y %>%; background-color: <%= breakDanamon[i].color %>"
                ></div>
                <div
                  class="progressdot"
                  style="left: <%= breakDanamon[i].y-1 %>%; background-color: <%= breakDanamon[i].color %>"
                ></div>
              </div>
            </div>
			<% } %>
          </div>

          <div class="cols-12 containt" style="margin: 20px 0">
            <div class="headtitle trans" style="margin-bottom: 0">
              <p class="size-head3 nopad">Detail Danamon</p>
            </div>
            <div style="width: 100%">
              <div class="chartbox">
                <div
                  id="detailCec"
                  style="
                    height: 400px;
                    max-width: 100%;
                    width: 100%;
                    margin: 0px auto;
                  "
                ></div>
              </div>
            </div>
          </div>


		  <div class="overview full-length column shadow half">
			  <%
			 	for(let i=0; i<breakAdmf.length; i++){ 
			  %>
            <div
              class="cols-2"
              style="
                color: <%= breakAdmf[i].color %>;
                border-right: 1px solid #f5f5f5;
                padding: 5px 2%;
              "
            >
              <p class="size-head3 nopad">
                <%= breakAdmf[i].label %> <b style="float: right"><%= breakAdmf[i].total %>(<%= breakAdmf[i].y %><sup>%</sup>)</b>
              </p>
              <div class="progressbar">
                <div
                  class="progressresult"
                  style="width: <%= breakAdmf[i].y %>%; background-color: <%= breakAdmf[i].color %>"
                ></div>
                <div
                  class="progressdot"
                  style="left: <%= breakAdmf[i].y-1 %>%; background-color: <%= breakAdmf[i].color %>"
                ></div>
              </div>
            </div>
			<% } %>
          </div>
          <div class="cols-12 containt" style="margin: 20px 0">
            <div class="headtitle trans" style="margin-bottom: 0">
              <p class="size-head3 nopad">Detail Autocilin</p>
            </div>
            <div style="width: 100%">
              <div class="chartbox">
                <div
                  id="chartadmf"
                  style="
                    height: 400px;
                    max-width: 100%;
                    width: 100%;
                    margin: 0px auto;
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include ('./partials/footer') %>
  <script>
    window.onload = function () {
    	CanvasJS.addColorSet("flexmonsterStyle",
                [//colorSet Array
                "#069E2D",
                "#058E3F",
                "#04773B",
                "#036016",
        ]);
        var achievement = {
    		colorSet: "flexmonsterStyle",
    		exportEnabled: true,
    		animationEnabled: true,
    		axisY:{
    			minimum: 0,
    			maximum: 100,
    		},
    		axisX: {
    			title: " ",
    			labelFontSize: 12,
    			labelWrap: true
    		},
    		data: [
    		{
    			type: "column",
    			legendText: "{label} %",
    			indexLabel: "{label} - {y}%",
    			indexLabelFontSize: 12,
    			yValueFormatString: "#0.##",
    			toolTipContent: "<b>{label}</b>: {count}({y}%)",
    			dataPoints: <%- JSON.stringify(dataTotal) %>
    		}
    		]
    	};
        $("#chartAchievement").CanvasJSChart(achievement);

    	var detailcec = {
    		colorSet: "flexmonsterStyle",
    		exportEnabled: true,
    		animationEnabled: true,
    		axisY:{
    			minimum: 0,
    			maximum: 100,
    		},
    		axisX: {
    			title: " ",
    			labelFontSize: 12,
    			labelWrap: true
    		},
    		data: [
    		{
    			type: "column",
    			legendText: "{label} %",
    			indexLabel: "{label} - {y}%",
    			indexLabelFontSize: 12,
    			yValueFormatString: "#0.##",
    			toolTipContent: "<b>{label}</b>: {count}({y}%)",
    			dataPoints: <%- JSON.stringify(breakDanamon) %>
    		}
    		]
    	};
        $("#detailCec").CanvasJSChart(detailcec);

		var detailcec = {
    		colorSet: "flexmonsterStyle",
    		exportEnabled: true,
    		animationEnabled: true,
    		axisY:{
    			minimum: 0,
    			maximum: 100,
    		},
    		axisX: {
    			title: " ",
    			labelFontSize: 12,
    			labelWrap: true
    		},
    		data: [
    		{
    			type: "column",
    			legendText: "{label} %",
    			indexLabel: "{label} - {y}%",
    			indexLabelFontSize: 12,
    			yValueFormatString: "#0.##",
    			toolTipContent: "<b>{label}</b>: {count}({y}%)",
    			dataPoints: <%- JSON.stringify(breakAdmf) %>
    		}
    		]
    	};
        $("#chartadmf").CanvasJSChart(detailcec);
    }
  </script>
  <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</html>
